.materialButton {
	margin: 8px !important;
}
.plusButton {
	background-color: #67b53f !important;
	color:           white !important;
	background-color: #67b53f !important;
    color: white !important;
    border-radius: 100% !important;
    width: 50px;
    height: 60px;
}
.deleteButton {
	background-color: #e2e3e6 !important;
	border-radius: 100% !important;
    width: 50px;
    height: 60px;
}
.editButton {
	background-color: #3746ff !important;
	color:            white !important;

}
.extendedButton {
	background-color: #ff2 !important;
}