body {
	 background: rgb(101,115,195) !important;
}
.backgroundPrimaryColor {
	background-color: rgb(101,115,195) !important;
}
.flex {
	display: flex;
	
}
.spaceBetween {
	justify-content: space-between;
}
.marginBottom {
	margin-bottom: 1rem;
}
.marginTop {
	margin-top: 1rem;
}
.paddingTop {
	padding-top: 1rem;
}
.marginRight {
	margin-right: 1rem;
}
.littlePadding {
	padding-left: .5rem;
}

.mainCard {
	background-color: #221266 !important;
	margin: 2.6rem !important;
}
.width50 {
	width: 75%;
}
.mainContainer {
	margin-bottom: 5rem;
}
.parentsData {
	padding-bottom: 2rem;
}
.familyTree {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.white {
	color: white;
}
.closeIcon {
	position: absolute;
    right: 0;
    top: 0;
}
.modalTitle {
	background-color: rgb(101,115,195);
	color : white;
	font-weight: 500;
}
.roundedIcon {
	font-size: 36px;
    border-radius: 50%;
    margin: 1rem;
    width: 5rem !important;
    height: 5rem !important;
    padding-top: .5rem;
    padding-left: .7rem;
    background-color: #221266;
    color: white;
    cursor:pointer;
}
.propertiesIcons {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
.sliderLabel {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
    color: white !important;
}
.slider {
	width: 400px !important;
}
.center {
	text-align: center;
}
.tarkinStyleContentDialog {
	background-color: rgb(101,115,195);
}
.numberCard {
	margin-bottom: 1rem;
	text-align: center;
}
.numberHeader {
	background-color: white;
	text-align: center;
}
.bigNumber {
	font-size: 3rem;
}
.heirBlock {
	padding: 1rem;
}
.heirList {
	list-style: none;
}
.scalesBlock {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
	
}
.heirBlockName {
	align-items: center;	
	color: #221266;
	font-size: 1.5rem;
}
.heirName {
	margin-left: 1rem;
}
.advert {
	color : rgb(246, 72, 87);
	padding-left: 10px;	
}
.noWrap {
	white-space: nowrap;
}