body {
	 background: rgb(101,115,195) !important;
}
.MuiIcon-root-23 {
	padding-right: 5px;
}
.MuiCardHeader-content-35 .MuiTypography-headline-43,.MuiCardHeader-content-35 .MuiTypography-body1-47, .MuiIconButton-label-78, .MuiCardContent-root-92 {
	color: white;
}

.mainCard {
	background-color: #221266 !important;
	margin: 26px !important;
}

