body {
	 background: rgb(101,115,195) !important;
}
.flex {
	display: flex;
	
}

.mainCard {
	background-color: #221266 !important;
	margin: 26px !important;
}
.mainContainer {
	margin-bottom: 50px;
}
.parentsData {
	padding-bottom: 20px;
}
.familyTree {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.white {
	color: white;
}